
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.Parent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: auto;
    line-height: 2;
}

.Child form input{
    height: 2rem;
    width: 60vh;
    padding: 2px;
}



section{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
}

.imgs{
height: 20rem;
width: 20rem;
border-radius: 20px;
}

.Display{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 20px;
}


.Fillter{
    display: flex;
    justify-content: space-between;
    width: 50vh;
}

.Fillter select{
    height: 2rem;
    width: 10rem;
    cursor: pointer;
}


